.abouttexas-container {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    gap: 20px;
    
  }
  
  .aboutTexas{
    background-image: url('../assets/abouttexas-bg.png');
    background-position: bottom right;
    background-size: 30%;
    background-repeat: no-repeat;
    padding-top: 0px !important;
    margin-top: -5rem;
  }
  .abouttexas-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  
  .abouttexas-right {
    width: 40%;
    display: flex;
    justify-content: right;
    background-image: url('../assets/abouttexas.png');
    background-position: bottom right;
    background-size: cover;
    border-radius: 15px;
    height: 410px;
    overflow: hidden;
  }
  
  
  /* Responsive for mobile */
  @media (max-width: 768px) {
    .aboutTexas{
      padding-top: 0px !important;
      background-size: 80%;
    }
    .abouttexas-container {
      flex-direction: column;
    }
  
    .abouttexas-left, 
    .abouttexas-right {
      width: 100%;
    }
    .abouttexas-right {
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        
      }
      .abouttexas-right {
        
        display: flex;
        justify-content: right;
        background-image: url('../assets/abouttexas.png');
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        height: 410px;
        overflow: hidden;
      }
  }
  