.presence-container {
    display: flex;
    margin-top: 2rem;
    /* margin-bottom: 1rem; */
    justify-content: space-between;
    
  }
.presence{
    padding: 3rem;
    background-image: url('../assets/presence.png');
    background-position: center;
    background-size: cover;
    padding-bottom: 4rem;
}
  
  .presence-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
  }
  
  .presence-right {
    width: 50%;
    
    
  }
  .presence-image{
    min-height:  420px;
   
    margin-top: 1rem;
    border-radius: 10px;
    background-repeat: no-repeat;
  }
  .presence-address2{
    display: none;
    
  }
  .presence-address1{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
  }
  /* Responsive for mobile */
  @media (max-width: 768px) {
    
    .presence{
        padding: 1.5rem;
        padding-bottom: 2rem;
        text-align: center;
        margin-top: 2rem;
    }
    .presence-container {
      flex-direction: column;
    }
  
    .presence-left, 
    .presence-right {
      width: 100%;
    }
    .presence-right {
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        
      }
      .presence-image{
        min-height:  320px;
        background-image: url('../assets/presence.png');
        background-position: bottom;
        background-size: contain;
        margin-top: 1rem;
        border-radius: 10px;
        background-repeat: no-repeat;
      }
      
  }
  